<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="padding: 5px 5px;" align="center" border="1">
        <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>password</th>
        <th>phn</th>
        <th>address</th>

        </tr>
    {% for i in show %}
        <tr>
            <th>{{i.id}}</th>
            <th>{{i.name}}</th>
            <th>{{i.email}}</th>
            <th>{{i.password}}</th>
            <th>{{i.phn}}</th>
            <th>{{i.address}}</th>
            </tr>
            {% endfor %}
    </table>
  <a href="{%url 'logout' %}"><h3>logout</h3></a>

</body>
</html>