<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,tr{
            border:3px solid green;
            width: 100%;
       }
    </style>
</head>
<body>
    <table>
        <thead>
        <th>ID</th>    
        <th>name</th>
        <th>email</th>
        <th>password</th>
        <th>phn</th>
    </thead>
       
   <tbody>
{% for i in info %}
<form action="" method="post">
    {% csrf_token %}
    <tr>
    <th>{{i.id}}</th>
    <th>{{i.name}}</th>
    <th>{{i.email}}</th>
    <th>{{i.password}}</th>
    <th>{{i.phn}}</th>
</tr>
{% endfor %}
</form>
</tbody>
</table>
</body>
</html>